* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div, .flexslider {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-property: all;
  transition-property: all;
}

a, .button, #scrollTop {
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition-property: all;
  transition-property: all;
}

.container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0 7%;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100vh;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 45px;
}

header h1 {
  float: left;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 6%;
}

header h1 a {
  width: 10vw;
  overflow: hidden;
  display: inline-block;
  line-height: 45px;
  white-space: nowrap;
}

header h1 a:hover {
  opacity: 0.5;
}

header h1 a img {
  width: 100%;
}

header nav {
  float: right;
  margin-top: 70px;
  margin-right: 6%;
}

header nav li {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  word-spacing: normal;
  margin-left: 21px;
}

header nav li a {
  color: #75b0e0;
  font-family: "Gill Sans Std Book",sans-serif;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  text-shadow: 0 0 10px;
}

header nav li a:hover {
  border-color: #fff;
  opacity: 1;
  outline: 0;
}

header nav li a:active {
  outline: 0;
}

header nav #navToggle {
  display: none;
  font-size: 1.3rem;
  color: #ffffff;
  font-family: "Gill Sans Std Book",sans-serif;
  border-bottom: 1px solid #fff;
  letter-spacing: 0.1em;
  background: url(../img/navigation-toggle@2x.png) no-repeat;
  -webkit-background-size: 15px 11px;
  background-size: 15px 11px;
  background-position: 93% 50%;
  padding-left: 7%;
  height: 45px;
  line-height: 45px;
}

.main .m-container {
  opacity: 1;
  position: relative;
}

.main .m-container #flexslider {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.main .m-container #flexslider::before {
  content: "";
  display: block;
  padding-top: 63%;
}

.main .m-container #flexslider #slides::before, .main .m-container #flexslider #slides::after {
  content: "";
  clear: both;
  display: block;
}

.main .m-container #flexslider #slides li {
  width: 100%;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
}

.main .m-container #flexslider #slides img {
  height: auto;
  width: 100%;
}

.main .m-container .main-logo {
  display: none;
  position: absolute;
  top: 60px;
  left: 7%;
  font-size: 4vw;
  letter-spacing: 0.5vw;
  line-height: 4.5vw;
  color: #fff;
  width: 15vw;
}

.main .m-container .main-logo img {
  width: 100%;
}

.button {
  display: inline-block;
  width: 162px;
  height: 46px;
  line-height: 48px;
  font-size: 14px;
  color: #13191b;
  border: 1px solid #13191b;
  text-align: center;
  font-family: "Gill Sans Std Book",sans-serif;
  letter-spacing: 0.1em;
}

.button:hover {
  opacity: 1;
}

section {
  display: block;
  width: 100%;
  background-color: #fff;
  padding-top: 110px;
  padding-bottom: 110px;
}

section .container {
  max-width: 786px;
}

section .container .l-row {
  display: block;
  overflow: hidden;
  letter-spacing: .5rem;
  word-spacing: .5rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

section .container .l-row h1 {
  float: left;
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
  padding-bottom: 13px;
  line-height: 1;
  font-family: "Gill Sans Std Book",sans-serif;
  letter-spacing: 0.1em;
}

section .container .l-row .title-button {
  float: right;
}

section .container .l-row .list-button {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

section .container .l-row .more {
  background: url(../images/button-arrow@2x.png) no-repeat;
  -webkit-background-size: 8px 12px;
  background-size: 8px 12px;
  background-position: 140px 50%;
}

section .container .l-row .more:hover {
  background-color: #13191b;
  color: #fff;
  background-image: url(../images/button-arrow-hover@2x.png);
}

section .container .l-row article {
  width: 49%;
  margin: 60px 0 0 0;
  box-sizing: content-box;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  letter-spacing: normal;
  word-spacing: normal;
  min-height: 1px;
}

section .container .l-row article:hover .item .item-image img {
  transform: scale(1.2);
  transition-duration: 0.3s;
  opacity: 0.6;
}

section .container .l-row article:hover .item .item-text {
  opacity: 0.4;
}

section .container .l-row article .item {
  padding: 0 20px 0 20px;
}

section .container .l-row article .item .item-image {
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: #000;
}

section .container .l-row article .item .item-image img {
  display: block;
  width: 100%;
  height: auto;
  transition-duration: 0.3s;
}

section .container .l-row article .item .item-text {
  margin: 20px 0 0;
  padding: 0 20px;
}

section .container .l-row article .item .item-text h2 {
  font-size: 2rem;
}

section .container .l-row article .item .item-text .item-place {
  font-size: 1.5rem;
  margin: 5px 0 0;
}

section .container .l-row article .item .item-text .item-date {
  color: #656c6e;
  font-size: 1rem;
  letter-spacing: .1rem;
  margin: 5px 0 0;
  font-family: "Gill Sans Std Book",sans-serif;
}

.news {
  background-color: white;
}

.exhibision {
  background-color: #f7f7f7;
}

.gallery {
  background-color: #f0f0f0;
}

#scrollTop {
  bottom: 30px;
  padding: 4px;
  position: fixed;
  right: 30px;
}

#scrollTop:hover {
  bottom: 35px;
}

.share {
  background-color: #e8e8e8;
  position: relative;
  padding: 35px 0;
}

.share .container {
  max-width: 100%;
}

.share .container .share-buttons {
  font-size: 0;
  letter-spacing: -1em;
  word-spacing: -1em;
  text-align: center;
}

.share .container .share-buttons .share-item {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  letter-spacing: normal;
  word-spacing: normal;
  margin: 0 15px;
}

.share .container .share-buttons .share-item .button-facebook {
  color: #4871a9;
  border-color: #4871a9;
}

.share .container .share-buttons .share-item .button-facebook:hover {
  background-color: #4871a9;
  color: #fff;
}

.share .container .share-buttons .share-item .button-twitter {
  color: #70bdd3;
  border-color: #70bdd3;
}

.share .container .share-buttons .share-item .button-twitter:hover {
  background-color: #70bdd3;
  color: #fff;
}

.share .container .share-buttons .share-item .button-hatena {
  color: #2f9bcd;
  border-color: #2f9bcd;
}

.share .container .share-buttons .share-item .button-hatena:hover {
  background-color: #2f9bcd;
  color: #fff;
}

.share .container .share-buttons .share-item .button-line {
  display: none;
  color: #8ec09d;
  border-color: #8ec09d;
}

.share .container .share-buttons .share-item .button-line:hover {
  background-color: #8ec09d;
  color: #fff;
}

footer {
  background-color: #b5b5b5;
  padding: 35px 0;
}

footer .container .c-footer {
  float: left;
  width: 33.33333333%;
  text-align: center;
  line-height: 30px;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

footer .container .c-footer .footer-title {
  display: inline-block;
  border-bottom: 1px solid gray;
  font-size: 1.9rem;
}

footer .container .c-footer li a:hover {
  opacity: 0.3;
}

footer .container .c-footer .twitter div, footer .container .c-footer .facebook div {
  display: inline-block;
}

footer .container .c-footer .twitter .account:hover, footer .container .c-footer .facebook .account:hover {
  opacity: 0.3;
}

footer .container .c-footer .twitter img {
  position: relative;
  top: 7.4px;
  width: 24.2px;
}

footer .container .c-footer .facebook img {
  position: relative;
  top: 1.5px;
  right: 6px;
  width: 15px;
}

footer .container .m-footer a {
  width: 100px;
  display: inline-block;
  letter-spacing: 2px;
  line-height: 21px;
}

footer .container .m-footer a:hover {
  opacity: 0.3;
}

footer .container .m-footer a img {
  width: 100%;
}
